/build/
/cmake-build-*/
/CMakeFiles/
/CMakeCache.txt
/Makefile
/cmake_install.cmake
/CTestTestfile.cmake
/Testing/
/install_manifest.txt
/compile_commands.json

/armvoConfig.cmake
/armvoConfigVersion.cmake

*.a
*.dylib
*.dll
*.exe
*.lib
*.o
*.obj
*.so
*.so.*

/.cache/
/.vscode/
.idea/
*.swp
*~

.DS_Store
Thumbs.db
